.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: fantasy;
  border-radius: 5px;
  width: 100%;
  font-size: 2rem;
  margin: 20px 0;
}

.search-bar form {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input {
  padding: 0.4rem;
  font-size: 1.5rem;
  border-radius: 2px;
  border: 1px solid #000;
  margin-top: 5px;
}
